html{
    margin:auto;
}
body{
    width: 80%;
    margin: auto;
    background-color: #95e0a0;

}
#banner{
    width: 65%;
    margin-top: -5%;
}
input{
    width: 50%;
    padding: 12px 20px;
    margin:8px 0;
    box-sizing: border-box;

}
form{
}
#wrapper{
    background-color: white;
    text-align: center;
}
#buttonKlant,#buttonMedewerker{
    font-size: 30px;
    height: 99px;
    width: 180px;
    text-decoration: none;
}
#buttonKlant {
    background-color: cadetblue;
}
#buttonMedewerker{
    background-color: #ffff7d;
}
