html{
    margin:auto;
}
*{
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: auto;
    background-color: #95e0a0;

}
#banner{
    width: 65%;
    margin-top: -5%;
}
input{
    width: 50%;
    padding: 12px 20px;
    margin:8px 0;

}
form{
}
#wrapper{
    padding-top: 100px;
    background-color: white;
    text-align: center;
}
#buttonKlant,#buttonMedewerker{
    height: 99px;
    width: 180px;
    text-decoration: none;
}
#buttonKlant {
    background-color: cadetblue;
}
#buttonMedewerker{
    background-color: #ffff7d;
}

input,button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}