html{
    margin:auto;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #95e0a0;
    margin: 0;
}
footer{
    height: 50px;
    margin-top: 50px;
    text-align: center;
    background-color: mediumpurple;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#banner{
    font-size: 120px;
    text-align: center;
    color: cadetblue;
    background: white;
    border-top: 10px solid cadetblue;
    border-bottom: 10px solid cadetblue;
}
input{
    width: 50%;
    padding: 12px 20px;
    margin:8px 0;

}
#register_form{
    width: 50%;
}
#wrapper{
    width: 80%;
    margin: auto;
}

#buttonKlant {
    background-color: cadetblue;
}
#buttonMedewerker{
    background-color: #ffff7d;
}
#buttonRegister{
    background-color: white;
}
#buttonRegister, #buttonLogin :hover{

}
.text-box{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#login-btn-client{
    height: 40px;
    width: 100%;
    background-color: cadetblue;
    border: transparent;
}
#buttonKlant,#buttonMedewerker,#buttonLogin,#buttonRegister,#buttonPost,#buttonClientsInformation{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(0 0 0);
}
#article-form{
    height: 100%;
}
.text-area{
    width: 100%;
    height: 50%;
    padding: 12px 20px -20px 100px;
    margin: 8px 0;
    display: inline-block;
    border: 5px solid #ccc;
    border-radius: 4px;
}
#Dashboard{
    background: white;
    text-align: center;
    padding: 5%;
}
#alert{
    background-color: pink;
}
/*..........................clients_information.............................*/
#search{
    margin-top: -5px;
    border-radius: 10px;
    background: rgb(173 216 230);
    width: 70%;
    border: 1px solid rgb(0 0 0 / 0%);
}
#search_text{
    font-size: 25px;
}
#btn-search{
    padding: 12px 20px;
    margin-top: -5px;
    background: rgb(173 216 230);
    border: 1px solid rgb(0 0 0 / 0%);
}
#search_column{
    margin-top: 100px;
    padding-bottom: 100px;
}
#buttonSearch{
    padding: 12px 20px;
    margin-top: -5px;
    background: rgb(173 216 230);
    border: 1px solid rgb(0 0 0 / 0%);
}
#table{
    border: 1px solid navajowhite;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 150px;
    border-collapse: collapse;
    font-family: monospace;
    text-align: left;
    font-size: 16px;
}
#table th{
    color: navajowhite ;
    background-color: cadetblue;
    border-right: 1px solid navajowhite;

}
#table td{
    color: cadetblue ;
    background: navajowhite;
    border-right: 1px solid cadetblue;
}
/*.............................................client_homepage......................*/
#wrapper_client_page{
    text-decoration: none;
    width: 80%;
    margin: auto;
}
#Article{
    background-color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px
}
#article_text{
    padding-bottom: 20px;
}
#article_image{
}
/*............................................Registered confirmed..........................................*/
#wrapper-sent{
    text-decoration: none;
    width: 90%;
    margin: auto;
    margin-top: 20%;
    background-color: white;
    font-family: Arial Nova Light,serif;

}
#sent-img{
    margin-top: 20px;
    width: 50%;
}
#sent{
    margin: auto;
    text-align: center;
    display: table;
    padding-bottom: 5%;
}
@media all and (min-width: 320px) and (max-width: 600px){
    #wrapper {
        background-color: lightblue;
    }
}